<!DOCTYPE html>
<html>
<head>
	<title>Web based rule engine</title>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
		<form method="post" action="/add_rules/">
			{% csrf_token %}
			<div class="field_wrapper">
				<div>
					<label>Enter signal ID</label>
					<input type="text" name="signalid" required>
					<label>Enter variable type</label>
					<!--<input type="text" name="vartype" required>-->
					<select name="vartype">
						<option>Integer</option>
						<option>String</option>
						<option>Datetime</option>
					</select>
					<label>Enter condition</label>
					<input type="text" name="varcondition" required>
					<a href="javascript:void(0)" class="addRule">Add</a>
					<br><br>
				</div>
			</div>
			<button type="submit">Submit</button>
		</form>
	<script type="text/javascript">
		$(document).ready(function () {
			var addButton = $('.addRule');
			var wrapper = $('.field_wrapper');
			var field_html = '<div><label>Enter signal ID</label><input type="text" name="signalid" required><label>Enter variable type</label><select name="vartype" required><option>Integer</option><option>String</option><option>Datetime</option></select><label>Enter condition</label><input type="text" name="varcondition" required><a href="javascript:void(0)" class="remove_button">Remove</a><br><br></div>'

			$(addButton).click(function() {
				$(wrapper).append(field_html);
			})
			$(wrapper).on('click', '.remove_button', function(e) {
				e.preventDefault();
				$(this).parent('div').remove();
			})
		})
	</script>
</body>
</html>